.individual-game {
    z-index: 5;
}

input[type="number"] {
    text-align: center;
    margin-left: 455px;
    padding: 5px;
    width: 200px;
    border: 2px solid #ccc;
    border-radius: 5px;
}